  <section class="container border-bottom">
    <nav id="category" class="navbar container">
      <a class="navbar-brand text-black">
        <i class="fa fa-bars"></i>&nbsp;Filters</a>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <label for="">Sort By:</label>
          <select id="inputState" class="d-inline border-0" (change)="sortProducts($event.target.value)">
            <option selected> --select-- </option>
            <option class="font-weight-bold" [value]="'price'">Price</option>
            <option class="font-weight-bold" [value]="'userRatings'">Popularity</option>
          </select>
        </li>
      </ul>
    </nav>
  </section>
